version: '3.8'

services:
  server:
    build: ./server
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    networks:
      - omegle-net

  client:
    build: ./client
    ports:
      - "80:80"
    depends_on:
      - server
    networks:
      - omegle-net

networks:
  omegle-net:
    driver: bridge
